*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--green);
}
:root {
    --green: #97e697;
}
body {
    color: #000000;
    font-family: 'Finger Paint', cursive;
    background-attachment: fixed;
    text-align: center;
}
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo {
    font-size: 90px;
    text-transform: uppercase;
    margin: 120px;
    /*border: 2px solid;*/
    padding: 10px;
}
#tamanioTablero {
    font-family: 'Finger Paint', cursive;
    text-align: center;
    padding: 10px;
    width: 300px;
    background-color: transparent;
    border-radius: 25px;
    border: 2px solid;
}